


<h1>Social todo app for cpsc213</h1>

{{#if errors}}
<ul style="color:red" class="errors">
  {{errors}}
  {{#each errors}}
    {{this}}
  {{/each}}
</div>
{{/if}}

<div>
  We currently have {{userCount}} users.
</div>

{{#if currentUser}}
    <h2 class="welcome">Welcome, {{currentUser.name}}</h2>
          <h4>Your Tasks</h4>
        {{#if tasks}}
            <ul class="tasks">
                <li class="task">{{this.name}}</li>
            {{#each tasks}}
              <li="task completed">{{this.name}}
            </li>
            {{/each}}
            </ul>
        {{else}}
            No tasks to show!
        {{/if}}
    <hr>
    </div>
    <div>
      <h4>Add a new task</h4>
        <form class="createTask" action="/task/create" method="POST">
          <label for="name">Task name</label>
          <input name="name" type="text"><br>
          <label for="description">Task Description</label>
          <input name="description" type="text"><br>
          Collaborators<br>
          <input name="collaborator1" type="email"><br>
          <input name="collaborator2" type="email"><br>
          <input name="collaborator3" type="email"><br>
          <input type="submit" class="create-task-submit">
      </form>
    </div>

















    <hr>
{{else}}
<div class="login">
    <form class="login" action="/user/login" method="POST">
        <label for="email">Email</label>
        <input name="email" id="email" type="text"><br>
        <label for="password">Password</label>
        <input name="password" id="password" type="text"><br>
        <input type="submit" class="log-in-submit">
    </form>
</div>


<div class="register">
    <form class="register" action="/user/register" method="POST" style="display: block;">
      <input name="name" type="text" class="text-input" placeholder="first &amp; last name">
      <input name="email" type="email" class="text-input" placeholder="email">
      <input name="password" type="password" class="text-input" placeholder="password">
      <input name="passwordConfirmation" type="password" class="text-input" placeholder="password confirmation">
      <input class="sign-up-submit" type="submit">
    </form>
</div>


<<div class="task">
    <h4>Add a new task</h4>
    <form action="/tasks/create" method="POST">
      <label for="title">Task title</label>
      <input name="title" type="text"><br>
      <label for="description">Task description</label>
      <input name="description" type="text"><br>
      <h4>Add a new task</h4>
      <form id="create" action="/task/create"  method="post">
        <label for="title">Title</label>
        <br/>
        <input name="title" id="title" type="text" placeholder="Title">
        <br/>
        <label for="description">Description</label>
        <br/>
        <input name="description" id="description" type="text" placeholder="Description">
        <br/>
        <input name="collaborator1" id="collaborator1" type="email" placeholder="Collaborator 1"><br>
            <input name="collaborator2" id="collaborator2" type="email" placeholder="Collaborator 2"><br>
            <input name="collaborator3" id="collaborator3" type="email" placeholder="Collaborator 3"><br>
        <button type="submit" form="create" value="Submit">Submit</button>
</div>
{{/if}}-->
